
<%= simple_form_for(@team) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :team_name , label: "Nombre del equipo"%>
    <%= f.input :fundation_year, label: "Año"%>
    <%= f.input :team_description, label: "Descripción del equipo" %>

    <%= f.label :shield, "Escudo:"%>
    <%= f.file_field :shield %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
