<div class="pestanas-no-responsive">
    <%= link_to "Mi perfil", profile_path(@profile) %>
    <%= link_to "Camisetas", my_shirts_path(@profile.id) %>
    <% if @profile.user_id == current_user.id %>
      <%= link_to "Editar el perfil", edit_profile_path(@profile) %>
    <% end %>
</div>
<div class="pestanas-reponsive">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <div class="topnav" id="myTopnav">
      <a style="justify-content: start">Opciones</a>
      <%= link_to "Mi perfil", profile_path(@profile) %>
      <%= link_to "Camisetas", my_shirts_path(@profile.id) %>
      <% if @profile.user_id == current_user.id %>
        <%= link_to "Editar el perfil", edit_profile_path(@profile) %>
      <% end %>
        <a href="javascript:void(0);" class="icon" onclick="myFunction()">
        <i class="fa fa-bars"></i>
      </a>
    </div>
</div>

<script>
function myFunction() {
  var x = document.getElementById("myTopnav");
  if (x.className === "topnav") {
    x.className += " responsive";
  } else {
    x.className = "topnav";
  }
}
</script>