<div id="<%= dom_id profile %>">
  <p>
    <strong>Profile name:</strong>
    <%= profile.profile_name %>
  </p>

  <p>
    <strong>Surname:</strong>
    <%= profile.surname %>
  </p>

  <p>
    <strong>Age:</strong>
    <%= profile.age %>
  </p>

  <p>
    <strong>Birthday:</strong>
    <%= profile.birthday %>
  </p>

</div>
