<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Inicio de sesión</title>
  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= stylesheet_link_tag "reset", "data-turbo-track": "reload" %>
  <%= stylesheet_link_tag "styles/session", "data-turbo-track": "reload" %>
</head>
<body>
  <div class="login__background">
    <section class="login__left"></section>
    <section class="login__right">
      <%= image_tag "logo", alt: "Logo" , class: "right__logo" %>
      <h2 class="right__title">Iniciar Sesión</h2>
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="right__container-input">
          <div class="field">
            <%= f.label :email%>
            <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
          </div>
          <div class="field">
            <%= f.label :password , "Contraseña"%>
            <%= f.password_field :password, autocomplete: "current-password" %>
          </div>
          <% if devise_mapping.rememberable? %>
            <div class="field">
                <%= f.check_box :remember_me %>
                <%= f.label :remember_me , "Recordar sesión"%>
            </div>
          <% end %>
          <div class="actions">
            <%= f.submit "Iniciar sesión" , class: 'right__button-submit'%>
          </div>
          <% end %>
          <div class="right__links">
            <%= render "devise/shared/links" %>
          </div>
        </div>
    </section>
  </div>
</body>
</html>