<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= stylesheet_link_tag "reset", "data-turbo-track": "reload" %>
  <%= stylesheet_link_tag "styles/shirts", "data-turbo-track": "reload" %>
  <%= stylesheet_link_tag "actiontext", "data-turbo-track": "reload" %>

  <title>Nueva camiseta</title>
</head>
<body>
  <div class="container__shirts">
    <h1 class="shirt__title">Nueva camiseta</h1>
    <div class="shirt__form">
      <%= render "form", shirt: @shirt %>
    </div>
  </div>
</body>
</html>