<!DOCTYPE html>
<html>
  <head>
    <title>Blog Camisetas de Fútbol</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
        <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <% if request.path != "/users/sign_in" && request.path != "/users/sign_up"%>
        <%= render 'partials/nav' %>
    <% end %>
    <%= yield %>
  </body>
</html>
