<!DOCTYPE html>
<html>
  <head>
    <title>Blog Camisetas de Fútbol</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <link rel="icon" href="<%= asset_path('logo.png') %>" type="image/x-icon">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= render 'partials/nav' %>
    <%= yield %>
  </body>
</html>
